<mat-card
  class="card-container bg-white mx-auto mt-2 col-10 col-md-8 col-lg-6 border rounded"
>
  <form class="form row g-3 py-3" (submit)="onSubmit($event)">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="selectedNote.title"
        name="title"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea
        matInput
        [(ngModel)]="selectedNote.paragraph"
        name="description"
        required
      ></textarea>
    </mat-form-field>

    <button mat-raised-button class="btn" color="primary" type="submit">
      {{ isUpdating ? "Update" : "Add" }}
    </button>
  </form>
</mat-card>
