<mat-card class="loginForm">
  <mat-card-header style="display: flex; justify-content: center">
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-form-field>
          <input matInput formControlName="email" placeholder="Email" />
          <mat-error *ngIf="submitted && f.email.errors?.required">
            Email is required
          </mat-error>
          <mat-error *ngIf="submitted && f.email.errors?.email">
            Invalid email format
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <input
            matInput
            formControlName="password"
            type="password"
            placeholder="Password"
          />
          <mat-error *ngIf="submitted && f.password.errors?.required">
            Password is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group form-actions" style="margin-top: 20px">
        <button
          class="btn-link login-btn"
          mat-raised-button
          color="primary"
          type="submit"
        >
          Login
        </button>

        <button
          [routerLink]="['/register']"
          mat-raised-button
          color="primary"
          class="btn-link"
        >
          Register
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
